.container {
    cursor: pointer; 
    border-radius: 10px;
    background: rgba(226, 175, 7, 0.829);
    width: 40rem;
}

ul li {
    list-style: none;
    font-size: 2rem;
    text-align: left;
    color: rgb(55, 58, 61);
    font-family: 'Courgette', cursive;
    font-weight: lighter;
    border-bottom: 1px dashed black;
    margin-right: 5rem;
}

ul li:hover::after{
    cursor: pointer;
    content: "X";
    float: right;
 
}

input {
    width: 30rem;
    height: 2.5rem;
    font-size: 1.6rem;
    border: none;
    font-family: 'Courgette', cursive;
    font-weight: lighter;
    float: left;
    margin-left: 1rem;

}

h1{
    color: rgb(55, 58, 61);
    font-family: 'Abril Fatface', cursive;
    font-size: 4rem;
}

#notas{
    width: 40rem;
}

span{
    font-size: 1.8rem;
    color: midnightblue;
    padding-right: 15px;
    font-family: 'Courgette', cursive;
}
#cantidad {
    font-family: 'Abril Fatface', cursive;
    font-size: 1.8rem;
    color: rgb(247, 250, 253);
}